@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 67, 94);
    font-family: 'Ubuntu', sans-serif;
}
.wrapper {
    width: 300px;
    border-bottom: 1px solid transparent;
    border: 1px solid transparent;
    background-color: #0C121D;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.349);
    position: relative;
    transition: 1s;
}
.wrapper:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.767);
    transition: 1s;
}
.wrapper img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    position: absolute;
    top: -30px;
}
.wrapper h2 {
    color: #fff;
    margin: 100px 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.wrapper .wrapper-box input, .wrapper-box2 input{
    width: 100%;
    border: none;
    color: #fff;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 16px;
    margin: 20px 0;
    outline: none;
    display: flex;
}
.wrapper .wrapper-box label{
    position: absolute;
    top: 169px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.wrapper .wrapper-box2 label{
    position: absolute;
    top: 209px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.wrapper .wrapper-box input:focus ~ label,
.wrapper .wrapper-box input:valid ~ label{
    top: 155px;
    color: #E6BDC4;
    font-size: 12px;
}
.wrapper .wrapper-box2 input:focus ~ label,
.wrapper .wrapper-box2 input:valid ~ label{
    top: 194px;
    color: #E6BDC4;
    font-size: 12px;
}
.wrapper-check {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 15px;
    margin-bottom: 30px;
}
#save-checkbox{
    width: 13px;
    margin-right: 10px;
}
.label-check{
    display: flex;
}
ul{
    color: #E6BDC4;
    font-size: 11px;
}
.wrapper button{
    border: solid 1px #fff;
    padding: 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
button:hover{
    transition: .8s;
    background: #E6BDC4;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #E6BDC4,
                0 0 10px #E6BDC4,
                0 0 20px #E6BDC4,
                0 0 40px #E6BDC4;
}

