@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    /* background-color: blueviolet; */
}
#container-id{
    display: flex;
    gap: 30px;
    margin-top: 89px;
}
.container h1{
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}
hr{
    /* background-color: aqua; */
    width: 170px;
}
.container p{
    font-family: 'Raleway' sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;
}
.card-group{
    padding: auto;
    display: flex;
    gap: 30px;
    margin: 110px 0 110px 0;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img {
    max-width: 170px;
    max-height: 170px;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
}
.card-text{
    max-width: 370px;
}
.card-body p{
    margin-top: 8px;
}
.form-control{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
#exampleInputEmail1{
    max-width: 555px;
}
.footer-hr{
    width: 555px;
}
.form-control{
    width: 555px;
    resize: none;
}
.btn{
    background-color: #EC7979;
    padding: 10px 30%;


}