*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(144, 209, 59);
}
p{
    border: solid 2px #ffff;
    margin: 5px ;
    padding: 10px;
    text-align: start;
}
