@font-face{
    font-family: 'ALS Hauss';
    src: local('ALS Hauss Regular'),
    url(fonts/ALSHauss-Regular.woff2); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'ALS Hauss', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    background-color: #F6F6F6;



}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.03);
    /* background-color: #acacac; */
    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1050px;
    width: 100%;
    height: 96px;
    
    /* background-color: #808080; */
}
.wrapper-inner{
    display: flex;
    align-items: center;
    gap: 32px;
}
.vertical-line{
    border-left: 0.5px solid rgba(27, 20, 0, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 48px;
}
.logo-text{
    font-size: 14px;
    line-height: 120%;
    color: #1B1400;
    opacity: 0.7;
}
.nav-header{
    gap: 32px;
}
.nav-header-text, .nav-header-text-dropdown{
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 19px;
    color: #1B1400;
}

.nav-header, .dropdown{
    display: flex;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    border: none;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
/* скрываем выподающее меню свойством display:none */
.dropdown-content{
    display: none;
    z-index: 1;
    position: absolute;
    padding-top: 28px;
    right: -89px;
}
.dropdowm-content-inner{
    display: flex;
    gap: 4px;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 20px 32px -6px rgba(59, 69, 75, 0.08);
    border-radius: 8px;
}
.dropdown-content a{
    background-color: #F6F6F6;
    min-width: 237px;
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;

    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #1B1400;
    opacity: 0.8;
}
.dropdown-content a:hover {
    background-color: #FFCC33;
    color: #1B1400;
    opacity: 1;
}
/* Показывает ссылки при наведении на выподающее меню*/
.dropdown:hover .dropdown-content {
    display: block;
} 
.btn-log-in{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 8px 16px;
    background: #FFCC33;
    border-radius: 8px;

    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #1B1400;
}


footer{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #FFCC33; */
    border: 1px solid rgba(27, 20, 0, 0.12);

}
.wrapper-footer{
    
    max-width: 1050px;
    width: 100%;
}
.wrapper-footer-inner{
    display: flex;
    padding-top: 48px;
    padding-bottom: 72px;
}
.footer-logo-footer-text{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}
.footer-logo-img{
    max-width: 49px;
    max-height: 84px;
    width: 100%;
}
.info-text{
    margin-top: 24px;
    max-width: 150px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #1B1400;
}
.col-footer p, .col-footer-right p{
    margin-bottom: 20px;
}
.link-box{
    display: flex;
    gap: 30px;
}
.footer-link {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #1B1400;
    opacity: 0.4;
}
.footer-link li{
    padding: 6px 0;
}
.footer-link a:link {
    color: #1B1400;
}
.footer-link a:visited{
    color: #1B1400;
}
.col-footer-right{
    margin-left: 30px;
}
.gorizont-line{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(196, 196, 196, 0.6);
}
.footer-row{
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}
.footer-row-img{
    display: flex;
    gap: 12px;
}
.footer-row-inner a:link{
    color: #1B1400;
}
.footer-row-inner a:visited{
    color: #1B1400;
}
