*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;

}
body{
    font-size: 92%;
    background-color: #ffffff;
    line-height: 1.6;
    margin: 20px, 24px, 24px, 24px;
    

}
.container{
    float: right;
    /* background-color: bisque; */
    width: 90%;
    padding-left: 10px;
    
}
p, span{
    font-family: sans-serif;
}

h1{
    border-bottom: solid 1px #a2a9b1; 
    font-size: 1.8em;
    margin-bottom: 7px;
}
h2{
    border-bottom: solid 1px #a2a9b1; 
    font-size: 1.5em;
    margin-top: 21px;
    margin-bottom: 5.250px;
}
.line{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;

}
.right{
    display: flex;
    justify-content: center;
    align-self: center; 
    width: 200px;
}

a:hover {
    text-decoration: underline;
}
.size_space{
    width: 4px;
}
.size_space3{
    width: 4px;
    
}
.p_text{
    margin-top: 7px;
    margin-bottom: 7px;
}


.line2 {
    

}

.left {
    font-size: small;
    line-height: 1.3;
}

.size_space_left {
    width: 4px;
}

.size_space2_left {

}

.size_space3_left {
    width: 4px;
}

.block_left{
    width: 160px;
    height: 155px;
    background-color: #F8F9FA;
    border: solid 1px #A2A9B1;
}
.block_left_small{
    margin-left: 10px;
}

ol{
    list-style-type: none;
    counter-reset: my-counter;
}

li::before {
    content: counter(my-counter);
    margin-right: 6px;
    counter-increment: my-counter;
}
.left_content{
    width: 10%;
    /* background-color: antiquewhite; */
    float: left;
    padding-left: 10px;
}
img{
    width: 120px;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 20px;
}
.table_left{
    border: solid 1px #186fd3;
    margin:auto;
    text-align: center;
}
td{
    border: solid 1px #186fd3;
    text-align: center;
    background-color: #F8F9FA;
}

